<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Singup</title>
    <!-- Assim que chamo um css -->
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <!-- Aqui vai funcionar nossa tela de login... -->

    <div class="caixa-login">
        <h1 class="logo">Cadastro</h1>

        <div class="group">
            <label for="email">E-mail</label>
            <input id="email" type="text">
        </div>

        <div class="group">
            <label for="senha">Senha</label>
            <input id="senha" type="password">
        </div>

           
        <div class="botao-login">
            <button id="btn-confirmar" type="button">Confirmar</button>
        </div>

    </div>

    <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->

    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
    https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-auth.js"></script>


    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyBTTOXpvR4guRCk31qtVXtgJIUCsr17hTw",
            authDomain: "testes-740a9.firebaseapp.com",
            databaseURL: "https://testes-740a9.firebaseio.com",
            projectId: "testes-740a9",
            storageBucket: "testes-740a9.appspot.com",
            messagingSenderId: "867390686459",
            appId: "1:867390686459:web:21f6415b8a1cf592f61c5e",
            measurementId: "G-PBLTF96MD0"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
    </script>


    <script src="../js/cadastro.js"></script>

</body>

</html>